<div ng-cloak style="background-color: #3D3F4B" class="navbar navbar-default navbar-static-top" role="navigation">
	<!-- <div style="background-color: #3D3F4B" class="navbar  navbar-fixed-top" role="navigation"> -->
      <div class="container-fluid">
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right fontClassA">
          	
          	 
            <li>&nbsp;</li>
             <li><a href="contact"> {{ 'load.Website.EMAILME' | translate }}</a></li>
          	   <li>&nbsp;</li>
          	   <li><a href="register/user">{{ 'load.Website.REGISTER' | translate }}  </a></li>
            <li>&nbsp;</li>
             <li><a href="links">{{ 'load.Website.WEBLINKS' | translate }} </a></li>
          	   <li>&nbsp;</li>
          	   <li><a href="addbook"> {{ 'load.Website.ADDBOOK' | translate }}</a></li>
            <li>&nbsp;</li>
          	 <li><a href="library">  {{ 'load.Website.LIBBOOK' | translate }} </a></li>
          	   <li>&nbsp;</li>
          	   <li><a href="home"> {{ 'load.Website.HOMEPAGE' | translate }} </a></li>
            <li>&nbsp;</li>
             
          </ul>
          <form class="navbar-form navbar-right">
            
          </form>
        </div>
      </div>
    </div>
    
     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top:-30px;background-color: #fff; border:1px #ddd solid">
      <div class="container-fluid" style="height: 40px;">
                <div class="row" > 
                	<div class="col-xs-12 col-md-8"> </div>  
                	<div class="col-xs-6 col-md-4"> 
                		<p style="padding-left: 150px; padding-top: 10px;" class="font_logo">
                	<img src="template/public/images/logo.png">
                			</p>
                		  </div>        
      </div>
    </div>
    </div>