<div class="list-group font_deafult "style="direction: rtl">
	
		<div ng-show="TPLMessage_CAPATCH">
 
	<div style="direction: rtl" class="alert alert-warning fontClassAlert" role="alert">{{ 'load.Message.UserCAPTCH' | translate }} </div>
</div>

	<div ng-show="TPLMessage_ERROR">
 
	<div style="direction: rtl" class="alert alert-danger fontClassAlert" role="alert">{{ 'load.Message.CONTACTERROR' | translate }}</div>
</div>

	<div ng-show="TPLMessage_success">
 
	<div style="direction: rtl" class="alert alert-success fontClassSuccess" role="alert">{{ 'load.Message.CONTACTOK' | translate }}      </div>
</div>


<div ng-show="formcontact" class="panel panel-default">
  <div class="panel-heading">{{ 'load.Website.EMAILME' | translate }}</div>
  <div class="panel-body">
   <div style="width: 450px;">
   <form  ng-submit="submitForm()" novalidate name="registerForm" role="form" class="font_deafult">
			
			<div class="form-group">
					<label for="exampleInputEmail1">{{ 'load.Website.CONTACTNAME' | translate }}</label>
					<input type="text" ng-model="user_name" name="user_name" class="form-control" id="exampleInputEmail1" required="required"  >
				
				<span style="color:red" ng-show="registerForm.user_name.$dirty && registerForm.user_name.$invalid">
  <span ng-show="!registerForm.user_name.$error.required">{{ 'load.Message.USEREMAILERROR' | translate }}</span>
 				
				</div>
			
				<div class="form-group">
					<label for="exampleInputEmail1">{{ 'load.Website.CONTACTEMAIL' | translate }}</label>
					<input type="email" ng-model="user_email" name="user_email" class="form-control" id="exampleInputEmail1" required="required"  >
				
				<span style="color:red" ng-show="registerForm.user_email.$dirty && registerForm.user_email.$invalid">
  <span ng-show="!registerForm.user_email.$error.required">{{ 'load.Message.USEREMAILERROR' | translate }}</span>
  <span ng-show="!registerForm.user_email.$error.email">{{ 'load.Message.USEREMAILERROR' | translate }}</span>
				
				</div>
			 
 
 <div class="form-group">
					<label for="exampleInputEmail1">{{ 'load.Website.CONTACTTITLE' | translate }}</label>
					<input type="text" ng-model="user_title" name="user_title" class="form-control" id="exampleInputEmail1" required="required"  >
				
				<span style="color:red" ng-show="registerForm.user_title.$dirty && registerForm.user_title.$invalid">
  <span ng-show="!registerForm.user_title.$error.required">{{ 'load.Message.CONTACTMISTITLE' | translate }}</span>
 				
				</div>
				
				
				
 <div class="form-group">
					<label for="exampleInputEmail1">{{ 'load.Website.CONTACTMSG' | translate }}</label>
					 
				<textarea ng-model="user_msg" class="form-control" id="exampleInputEmail1" required="required"></textarea>
				
				<span style="color:red" ng-show="registerForm.user_msg.$dirty && registerForm.user_msg.$invalid">
  <span ng-show="!registerForm.email.$error.required">{{ 'load.Message.CONTACTMISMSG' | translate }}</span>
 				
				</div>				
				
				
				
				
 
 
 
				
				<div class="form-group">
                    <label>{{ 'load.Website.REGCAPTCH' | translate }} </label>
               
                
                 <div style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' 
 unselectable='on'
 onselectstart='return false;' 
 onmousedown='return false;'  class="captch label label-primary"> {{captch}} </div>
  <input style="width: 200px;" type="text" name="captchinput" ng-model="captchinput" class="form-control col-xs-2" id="captchinput" required>
 
 
 <span style="color:red" ng-show="!registerForm.captchinput.$dirty && registerForm.captchinput.$invalid">
  <span ng-show="!registerForm.captchinput.$error.required">{{ 'load.Website.UserCAPTCH' | translate }}</span>
 
  </div>

<button type="submit" class="btn btn-info" ng-disabled="!registerForm.$valid">
					{{ 'load.Website.CONTACTBTN' | translate }}
				</button>
			</form>
   
   
   
   
   
   </div>
   
  </div>
</div>
</div>