
<div style="background-color: #3D3F4B" class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid" ng-controller="MainController">
  
		<div class="navbar-collapse collapse" >
			<ul class="nav navbar-nav navbar-right fontClassA">

				<li>
					&nbsp;
				</li>
				<li>
					 
				</li>
				<li>
					&nbsp;
				</li>
				<li>
					<a href="#" ng-click="logout();">تسجيل خروج</a>
				</li>
				<li>
					&nbsp;
				</li>

				<li>
					&nbsp;
				</li>

				<li>
					&nbsp;
				</li>
				<li>
				<a href="#"><div style="font-family: Tahoma">{{ProfileName}}</div></a>	
				</li>
				<li>
					&nbsp;
				</li>
				<li>
					<a href="#"> / مرحبا  </a>
				</li>
				<li>
					&nbsp;
				</li>

			</ul>
		 
		</div>
	</div>
</div>

 