<div class="list-group font_deafult " style="text-align: center">
				<a href="#" class="list-group-item disabled"> الرئيسية </a>
				<a href="option" class="list-group-item">إعدادت الموقع</a>
				<a href="page/list" class="list-group-item">الصفحات</a>
				<a href="links/list" class="list-group-item">دليل المواقع</a>
				<a href="inbox/list" class="list-group-item">الرسائل البريدية</a>
				<a href="member/list" class="list-group-item"> بيانات الاعضاء </a>
				<a href="adv/list" class="list-group-item">إعلانات</a>
				<a href="poll/list" class="list-group-item">إستبيان</a>
				<a href="book/list" class="list-group-item">مكتبة الكتب</a>
				 
			</div>