<div header-admin></div>

<div class="container-fluid"  >
	
   <div class="row">
   	  <div class="col-xs-6 col-md-10">
   	  	
   	  		<div class="row">
   	  				<div class="col-md-3"  >
					<div style="direction: rtl" class="panel panel-default font_deafult" >
						<div align="center" class="panel-heading">
						     خيارات الاستبيان
						</div>
						<div class="panel-body" >
							<ul class="font_deafult" style="line-height: 25px;">
								<li>
									<a href="poll/add">إستبيان جديد </a>
								</li>
								<li>
									<a href="poll/list">  قائمة ألاستبيان</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
				<!-- -->
					<div class="col-md-9" style="direction: rtl" >
   	  				
   	  				<!-- -->
					<ol class="breadcrumb font_deafult">
						<li>
							<a href="#">الرئيسية</a>
						</li>
						<li>
							<a href="poll/list"> ألاستبيان</a>
						</li>
						
						<li><a href="#">{{BreadTitle}}</a></li>
						

					</ol>
					<!-- -->
   	  	
				
				<div ng-switch on="urlparam"  >
   	  					<div ng-switch-default >
   	  						<div ng-show="TPLMessage_ERROR1">
								<div style="direction: rtl" class="alert alert-danger fontClassAlert" role="alert">
									لا توجد بيانات  مسجلة
								</div>
							</div>
						
						
						<table id="testmme" ng-show="table1" class="table table-bordered table-striped font_deafult ">

								<tr align="center" class="font_lastbook2">
								 
									
									<td width="1%">  <span class="glyphicon glyphicon-th-large"></span></td>
									<td width="1%">مسلسل</td>
									
									
									<td width="40%">السؤال</td>

									<td width="10%"> الحالة</td>
									<td width="10%"> تعديل</td>
									<td width="1%" class="" >
									 <input type="checkbox" ng-model="ck" class="selecctall"
									ng-change="updateSelection(ck)" />
									 
 
								 
									</td>

								</tr>

								<tr    align="center" class="font_deafult"   dir-paginate="pages in datagride | itemsPerPage: 20: 'cust'" pagination-id="cust">
								 
									<td width="1%">
					             <span class="glyphicon glyphicon-th-large"></span>

									</td>
									
										<td width="1%">
					            <span class="label label-default"> {{pages.ID}}</span>

									</td>
									
									<td width="40%">  {{pages.question|truncate:40}} 
									 
 									</td>
	                             <td width="1%">
 
  <span ng-if="pages.active=='YES'"><a href="#" ng-click="pollActive(pages.ID)"><img ng-src="../template/dashboard/images/flag_green.png"></a></span>
									
					 <span ng-if="pages.active=='NO'"><a href="#" ng-click="pollActive(pages.ID)"><img ng-src="../template/dashboard/images/flag_red.png"></a></span>

 
 
									</td>
                                <td width="1%">
					             <a ng-href="poll/edit/{{pages.ID}}"> <span class="glyphicon glyphicon-pencil"></span>

									</td>

 									<td width="1%">
									 <input type="checkbox" class="checkbox1" name="c[]" id="px_{{$index}}" value="{{pages.ID}}"  ng-model="op[pages.ID]"   /> 
									 
									</td>

								</tr>

								<footer>
									<tr>
										<td colspan="4" align="left">
										<button ng-click="deletePage();" type="button" style="width: 300px" class="btn btn-danger" >
											حذف    
										</button></td>
									</tr>
								</footer>

							</table>

							<dir-pagination-controls boundary-links="true" pagination-id="cust" template-url="../lib/pagination/dirPagination.tpl.html"></dir-pagination-controls>

							
   	  						
   	  						
   	  					</div>
   	  					
   	  					
   	  					
 <div ng-switch-when="add" ng-controller="PollController">

	<div ng-show="TPLMessage_success">

									<div style="direction: rtl" class="alert alert-success fontClassSuccess" role="alert">
										 تم إضافة البيانات بنجاح
									</div>
								</div>
   	  						
   <form class="font_deafult" style="width: 80%" role="form" id="pageForm" name="pageForm">
  <div class="form-group">
    <label for="exampleInputEmail1">السؤال</label>
    <input type="text"     class="form-control" ng-model="q1"    required="required">
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -1 </label>
    <input type="text" class="form-control" ng-model="a1"  required="required">
  </div>
   
   
     <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -2 </label>
    <input type="text" class="form-control" ng-model="a2"  required="required">
  </div>
  
    <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -3 </label>
    <input type="text" class="form-control" ng-model="a3"   >
  </div>
  
    <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -4 </label>
    <input type="text" class="form-control" ng-model="a4"  >
  </div>
  
    <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -5 </label>
    <input type="text" class="form-control" ng-model="a5"   >
  </div>
   
   
   
 <div align="center"  >
<button ng-click="addPoll();" style=" width: 400px;" type="button" class="btn btn-info" ng-disabled="!pageForm.$valid"> إرسال</button>
</div>
</form>
   	  					


</div>	
  <div ng-switch-when="edit" ng-controller="PollController">
  	
  	<div ng-show="TPLMessage_success">

									<div style="direction: rtl" class="alert alert-success fontClassSuccess" role="alert">
										 تم إضافة البيانات بنجاح
									</div>
								</div>
   	  						
   <form class="font_deafult" style="width: 80%" role="form" id="pageForm" name="pageForm">
  <div class="form-group">
    <label for="exampleInputEmail1">السؤال</label>
    <input type="text"     class="form-control" ng-model="q1"    required="required">
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -1 </label>
    <input type="text" class="form-control" ng-model="a1"  required="required">
  </div>
   
   
     <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -2 </label>
    <input type="text" class="form-control" ng-model="a2"  required="required">
  </div>
  
    <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -3 </label>
    <input type="text" class="form-control" ng-model="a3"   >
  </div>
  
    <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -4 </label>
    <input type="text" class="form-control" ng-model="a4"  >
  </div>
  
    <div class="form-group">
    <label for="exampleInputPassword1">  إجابة -5 </label>
    <input type="text" class="form-control" ng-model="a5"   >
  </div>
   
   
   
 <div align="center"  >
<button ng-click="editPoll();" style=" width: 400px;" type="button" class="btn btn-info" ng-disabled="!pageForm.$valid"> إرسال</button>
</div>
</form>
   	  			
  	
  	
  	
  </div>
   	  </div>
				
				
				
				
				</div>
				
				
				
				
				
				
				<!-- -->
   	  			
   	  			
   	  		</div>
   	  	
   	  	
   	  	
   	  </div>

	<div class="col-xs-6 col-md-2">
			<!-- //begin -->
			<div right-tpl></div>

			<!-- //end -->

		</div>





</div></div>